.card {
    height: calc((140px / 2 * 3));
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    height: calc((140px / 2 * 3));
    width: 140px;
    border-radius: 10px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}
.card .front img {
    object-fit: cover;
}

.card .back {
    background-image: url("./gametime_logo.png");
    background-color:orange;
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}